<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/style.css">
    <title>Tye's Trade Log</title>
</head>
<body>
    <script src="/js/style_script.js"></script>
    <nav>

    </nav>
    
    <article>
        <form id="main-form" action="/update" method="post">
            <ul class="product-list">
                <% if (locals.inventory) { %>
                    <% locals.inventory.forEach(i => { %>
                    
                        <label class="product-names" for="<%=i.name%>"><%=i.stock%> <%=i.name%></label>
                        <input type="radio" class="product-names" name="product_name" id="<%=i.name%>" value="<%=i.name%>">

                    <% }); %>
                <% }; %>
            </ul>
            
            <div class="main-form-input-list">
                <input class="main-form-inputs" type="number" name="product_quantity" id="product_quantity" placeholder="quantity">
                <input class="main-form-inputs" type="number" name="product_price" id="product_price" placeholder="price">
                <!--TEST-->
                <select name="merchant" id="merchant-select">
                    <option value="test1">Test 1</option>
                    <option value="test2">Test 2</option>
                    <option value="test3">Test 3</option>
                </select>
                <!--TEST-->
                <div class="transaction-type-container">
                    <label for="buy">BUY</label>
                    <input class="transaction-type" type="radio" name="transaction_type" id="buy" value="buy">
                    <label for="sell">SELL</label>
                    <input class="transaction-type" type="radio" name="transaction_type" id="sell" value="sell">
                </div>
                <input class="main-form-inputs" type="submit" value="enter">
            </div>

            <ul class="inventory-data">
                <p id="test"><%= locals.inventory[0].name %></p>
            </ul>

        </form>

        <div class="log-container">
            <table class="log-table">
                <tr class="table-header-row">
                    <th class="table-header">pid</th>
                    <th class="table-header">#</th>
                    <th class="table-header">$</th>
                    <th class="table-header">merchant</th>
                </tr>
                <% locals.log.forEach(i => { %>
                <tr class="<%=i.transaction_type%> table-row">
                    <td class="table-data"><%=i.name%></td>
                    <td class="table-data"><%=i.quantity%></td>
                    <td class="table-data"><%=i.price%></td>
                    <td class="table-data"><%=i.merchant%></td>
                </tr>
                <% }); %>
            </table>
        </div>

    </article>

    
</body>
</html>